<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="/static/css/weather.css">
	</head>
	<body class="{{season}} {{daytime}} {{wind}} {{precipitation}} {{temperature}}">
		<h2>
			<a href="{{prevhour}}"><</a>
			Wetter am {{date}} – {{hours}} Uhr
			<a href="{{nexthour}}">></a>
		</h2>
		
		<div class="icons data-box">
			<div class="daytime"></div>
			<div class="wind"></div>
			<div class="precipitation"></div>
			<div class="temperature"></div>
		</div>
		
		<div class="stats data-box">
			<div>
				<div class="data-key">Wochentag</div>
				<div class="data-value">{{weekday.label}}</div>
			</div>
			<div>
				<div class="data-key">Jahreszeit</div>
				<div class="data-value">{{season.label}}</div>
			</div>
			<div>
				<div class="data-key">Tageszeit</div>
				<div class="data-value">{{daytime.label}}</div>
			</div>
			<div>
				<div class="data-key">Wind</div>
				<div class="data-value">{{wind.label}}</div>
			</div>
			<div>
				<div class="data-key">Niederschlag</div>
				<div class="data-value">{{precipitation.label}}</div>
			</div>
			<div>
				<div class="data-key">Temperatur</div>
				<div class="data-value">{{temperature.label}}</div>
			</div>
		</div>
	</body>
</html>