<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
<h2>Wetter am {{date}} - {{hours}} Uhr</h2>

<table>
<tr>
<td>Wochentag</td><td>{{weekday}}</td>
<tr>
<tr>
<td>Jahreszeit</td><td>{{season}}</td>
<tr>
<tr>
<td>Tageszeit</td><td>{{daytime}}</td>
<tr>
<tr>
<td>Wind</td><td>{{weather.wind}}</td>
<tr>
<tr>
<td>Niederschlag</td><td>{{weather.precipitation}}</td>
<tr>
<tr>
<td>Temperatur</td><td>{{weather.temperature}}</td>
<tr>
</table>

</body>
</html>